! Molokai
!#define Molokai_black        #1B1D1E
!#define Molokai_red          #B60050
!#define Molokai_red2         #C20257
!#define Molokai_green        #88BB22
!#define Molokai_brown        #C47F2C
!#define Molokai_blue         #30309B
!#define Molokai_purple       #7E40A5
!#define Molokai_cyan         #4699AF
!#define Molokai_light_grey   #9999AA
!#define Molokai_dark_grey    #303030
!#define Molokai_light_red    #F92672
!#define Molokai_light_green  #80FF00
!#define Molokai_yellow       #FFBA68
!#define Molokai_light_blue   #7070F0
!#define Molokai_light_purple #BB88DD
!#define Molokai_light_cyan   #66D9EF
!#define Molokai_white        #F8F8F2

Xft.antialias	: true
Xft.hinting	: true
Xft.hintstyle	: hintsfull
Xft.rgba	: rgb
Xft.dpi		: 96

URxvt*background  : #1c1c1c
URxvt*foreground  : #cccccc
URxvt*cursorColor : #ff005e
URxvt*color0: #1c1c1c
URxvt*color1: #b00041
URxvt*color2: #6b9c2e
URxvt*color3: #b89a65
URxvt*color4: #307d91
URxvt*color5: #6d569e
URxvt*color6: #b85d1d
URxvt*color7: #949494
URxvt*color8: #1c1c1c
URxvt*color9: #ff005e
URxvt*color10: #9ce243
URxvt*color11: #fad18a
URxvt*color12: #45b1ce
URxvt*color13: #9979de
URxvt*color14: #fd8129
URxvt*color15: #cccccc

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up

! URxvt Molokai
!URxvt*background  : Molokai_black
!URxvt*foreground  : Molokai_white
!URxvt*cursorColor : Molokai_red2
!URxvt*color0      : Molokai_black
!URxvt*color1      : Molokai_red
!URxvt*color2      : Molokai_green
!URxvt*color3      : Molokai_brown
!URxvt*color4      : Molokai_blue
!URxvt*color5      : Molokai_purple
!URxvt*color6      : Molokai_cy[Maan
!URxvt*color7      : Molokai_light_grey
!URxvt*color8      : Molokai_dark_grey
!URxvt*color9      : Molokai_light_red
!URxvt*color10     : Molokai_light_green
!URxvt*color11     : Molokai_yellow
!URxvt*color12     : Molokai_light_blue
!URxvt*color13     : Molokai_light_purple
!URxvt*color14     : Molokai_light_cyan
!URxvt*color15     : Molokai_white

! URxvt*termName:                       string
! URxvt*geometry:                       geometry
! URxvt*chdir:                          string
! URxvt*reverseVideo:                   boolean
! URxvt*loginShell:                     boolean
! URxvt*multiClickTime:                 number
! URxvt*jumpScroll:                     boolean
! URxvt*skipScroll:                     boolean
! URxvt*pastableTabs:                   boolean
! URxvt*scrollstyle:                    mode
URxvt*scrollBar:                      False
! URxvt*scrollBar_right:                boolean
! URxvt*scrollBar_floating:             boolean
! URxvt*scrollBar_align:                mode
! URxvt*thickness:                      number
! URxvt*scrollTtyOutput:                boolean
! URxvt*scrollTtyKeypress:              boolean
! URxvt*scrollWithBuffer:               boolean
! URxvt*inheritPixmap:                  boolean
! URxvt*transparent:                    boolean
! URxvt*tintColor:                      color
! URxvt*shading:                        number
! URxvt*blurRadius:                     HxV
! URxvt*fading:                         number
! URxvt*fadeColor:                      color
! URxvt*utmpInhibit:                    boolean
! URxvt*urgentOnBell:                   boolean
! URxvt*visualBell:                     boolean
! URxvt*mapAlert:                       boolean
! URxvt*meta8:                          boolean
URxvt.metaSendsEscape: true 
! URxvt*mouseWheelScrollPage:           boolean
! URxvt*tripleclickwords:               boolean
! URxvt*insecure:                       boolean
! URxvt*cursorUnderline:                boolean
URxvt*cursorBlink:                    True
! URxvt*pointerBlank:                   boolean
! URxvt*background:                     color
! URxvt*foreground:                     color
! URxvt*color0:                         color
! URxvt*color1:                         color
! URxvt*color2:                         color
! URxvt*color3:                         color
! URxvt*color4:                         color
! URxvt*color5:                         color
! URxvt*color6:                         color
! URxvt*color7:                         color
! URxvt*color8:                         color
! URxvt*color9:                         color
! URxvt*color10:                        color
! URxvt*color11:                        color
! URxvt*color12:                        color
! URxvt*color13:                        color
! URxvt*color14:                        color
! URxvt*color15:                        color
! URxvt*colorBD:                        color
! URxvt*colorIT:                        color
! URxvt*colorUL:                        color
! URxvt*colorRV:                        color
! URxvt*underlineColor:                 color
! URxvt*scrollColor:                    color
! URxvt*troughColor:                    color
! URxvt*highlightColor:                 color
! URxvt*highlightTextColor:             color
! URxvt*cursorColor:                    color
! URxvt*cursorColor2:                   color
! URxvt*pointerColor:                   color
! URxvt*pointerColor2:                  color
! URxvt*borderColor:                    color
! URxvt*iconFile:                       file
!URxvt.font:                            xft:Terminus:style=Regular:size=10
URxvt.font:                            xft:dejavu sans mono for powerline:size=10:antialias=true
!URxvt.font:                            -misc-monaco for powerline-medium-r-normal--0-0-0-0-p-0-iso8859-1
! URxvt*boldFont:                       fontname
! URxvt*italicFont:                     fontname
! URxvt*boldItalicFont:                 fontname
! URxvt*intensityStyles:                boolean
! URxvt*inputMethod:                    name
! URxvt*preeditType:                    style
! URxvt*imLocale:                       string
! URxvt*imFont:                         fontname
! URxvt*title:                          string
! URxvt*iconName:                       string
! URxvt*saveLines:                      number
! URxvt*buffered:                       boolean
! URxvt*depth:                          32
! URxvt*visual:                         number
! URxvt*transient-for:                  windowid
! URxvt*override-redirect:              boolean
! URxvt*hold:                           boolean
! URxvt*externalBorder:                 number
! URxvt*internalBorder:                 number
! URxvt*borderLess:                     boolean
! URxvt*lineSpace:                      number
URxvt*letterSpace:                    -1
! URxvt*skipBuiltinGlyphs:              boolean
! URxvt*pointerBlankDelay:              number
! URxvt*backspacekey:                   string
! URxvt*deletekey:                      string
! URxvt*print-pipe:                     string
! URxvt*modifier:                       modifier
! URxvt*cutchars:                       string
! URxvt*answerbackString:               string
! URxvt*secondaryScreen:                boolean
! URxvt*secondaryScroll:                boolean
! URxvt*perl-lib:                       string
! URxvt*perl-eval:                      perl-eval
URxvt*perl-ext-common:                string,resize-font
! URxvt*perl-ext:                       string
! URxvt*iso14755:                       boolean
! URxvt*iso14755_52:                    boolean
! URxvt*xrm:                            string
! URxvt*keysym.sym:                     keysym
! URxvt*background.border:              boolean
! URxvt*background.expr:                string
! URxvt*background.interval:            seconds
! URxvt*bell-command:                   string
! URxvt*kuake.hotkey:                   string
! URxvt*matcher.button:                 string
! URxvt*matcher.launcher:               string
! URxvt*matcher.launcher.*:             string
! URxvt*matcher.pattern.*:              string
! URxvt*matcher.rend.*:                 string
! URxvt*remote-clipboard.fetch:         string
! URxvt*remote-clipboard.store:         string
! URxvt*searchable-scrollback:          string
! URxvt*selection-autotransform.*:      string
! URxvt*selection-pastebin.cmd:         string
! URxvt*selection-pastebin.url:         string
! URxvt*selection.pattern-0:            string
! URxvt*tab-bg:                         colour
! URxvt*tab-fg:                         colour
! URxvt*tabbar-bg:                      colour
! URxvt*tabbar-fg:                      colour
! URxvt*url-launcher:                   string
